# Entorno
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/
.vite/

# Datos locales
data/
*.mp3
*.wav
*.onnx
*.onnx.json

# Sistema
.DS_Store
